/* Inserta tu codigo aqui */
.img-size{
	width: 280px;
    height: 254px;
}
.img-art-1{
    background-image: url(../img/blog1.jpg)
}
.img-art-2{
    background-image: url(../img/profesor_5.jpg)
}
.img-art-3{
    background-image: url(../img/instructor_1.jpg)
}
.bckg-silver{
    background-color: silver;
}
.b-more{
    width: 45%;
    height: 45px;
    background-color: #020E1E
}
.bckg-gray{
	background-color: #f8f8f8;
}