/* Inserta tu codigo que es común para todas las páginas aqui */

/*Header*/
header{
	text-align: center;
}
header nav{
	margin-top: 2%;
	margin-bottom:2%;
}

/*Background color section*/
.bckg-silver{
    background-color: #f8f8f8;
}

/*Fondo Form*/
.fondo-footer{
    background-image: url(../img/shoes_1.jpg);
    height: 480px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* form */
.form{
    position: relative;
    margin-left: 10%;
}
/* style icon */
.form .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-icon .fa  { 
    left:  0px;
}
.top-icon .fa{ 
    top: -4px;
}
.right-addon .fa { 
    right: 0px;
}
.left-icon input  {
 padding-left:  30px; 
}
.fc-text{
    height: 120px;
    width: 100%;
    border: gray 0.5px solid;
}

.form-control{
     width: 100%;
     height: 30px;
    border: gray 0.5px solid;
}
textarea{
    padding-left:6%;
}

.bckg-trs{
    background: transparent;
}
.b-submit{
    margin-left: 10%;
    width: 90%;
    height: 50px;
}
/*Button*/
.b-sty{
	border: none;
    border-radius: 5px;
    color: white;
 }