/* Util class */

/*text*/
.t-center {
	text-align: center;
}
.p-light{
    font-weight: lighter;
}
.font{
    font-size: 3em;
 }
.t-right {
	text-align: right;
}
.text-gray{
    color:rgba(128, 128, 128, 0.36);
}
.large{
    font-size: xx-large;
}

/*Position*/
.pr-l {
	position: relative;
    left: -12px;
}
.pa{
    position: absolute;
}

/*Margin*/
.mgt-7 {
	margin-top: 7%;
}
.mgtb-2{
    margin-top: 2%;
    margin-bottom: 2%;
 }
 .mgtb-4{
    margin-top: 4%;
    margin-bottom: 4%;
 }
.mb-5{
    margin-bottom: 5%;
}
.ml-30{
    margin-left: 23%;
 }
.mgt-4 {
	margin-top: 4%;
}

.mgb-3{
 	margin-bottom: 3%;
 }

 /*Padding*/

 .pd-2{
 	padding: 2%;
 }
.pl-7{
    padding-left: 7px;
}

.pr-7{
    padding-right: 7px;
}
.pd-0{
    padding: 0;
}

.pt-7{
    padding-top: 7px;
}

.pb-7{
    padding-bottom: 7px;
}

.pl-14{
    padding-left: 14%;
}

.pr-14{
    padding-right: 14%;
}

.pt-14{
    padding-top: 14%;
}

.pb-14{
    padding-bottom: 14%;
}

.pl-42{
    padding-left: 42px;
}

.pr-42{
    padding-right: 42px;
}

.pt-42{
    padding-top: 42px;
}

.pb-42{
    padding-bottom: 42px;
}
.pd-4{
 	padding:4%;
 }
.pdt-4 {
    padding-top: 4%;
 }
.pdb-4 {
    padding-bottom: 4%;
 }
.pdt-5{
 	padding-top: 5%;
 }
.pdl-4{
 	padding-left: 4%;
 }

 /*DISPLAY*/
 .d-ib{
    display: inline-block;
}
.d-b{
    display: block;
}

/*Others*/
.anone{
    text-decoration: none;
}
.container-full{
    width: 100%;
    margin: 0 auto;
}
.w-h-10{
    width: 10%;
    height: 10%;
}
.mgb-pb{
    margin-bottom: 5%;
    padding-bottom: 5%;
 }
 .bg-img-block{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}